<h1>Login Admin</h1>
<%- include ('../partials/messages') %>
<form action="/admin/login" method="POST">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter Username"/>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter Password"/>
  </div>
  <button type="submit">Login</button>
</form>
