<h1>Login Project</h1>
<%- include ('../partials/messages') %>
<form action="/project/login" method="POST">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter Username" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter Password" />
  </div>
  <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
