<h1>Create User</h1>
<%- include ('../../partials/messages') %>
<form action="/admin/user/create" method="POST">
  <div>
      <label for="username">User Name</label>
      <input type="text" name="username" placeholder="Enter New User Name" value="<%= typeof username != 'undefined' ? projectname : '' %>"/>
  </div>
  <div>
      <label for="password">New Password</label>
      <input type="password" name="password" placeholder="Enter New Password" value="<%= typeof password != 'undefined' ? password : '' %>"/>
  </div>
  <div>
      <label for="password">Confirm Password</label>
      <input type="password" name="password2" placeholder="Enter New Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>"/>
  </div>
  <button type="submit">Create</button>
  <a class="warn" href="/admin">Cancel</a>
</form>
