@font-face {
  font-family: 'SpaceMono';
  src:  url('fonts/SpaceMono-Regular.ttf') format('truetype');
}
body{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-transform: uppercase;
  font-size: 1.4vh;
  font-family: "SpaceMono";
  background: black;
  user-select: none;
}
canvas{
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
  border-right: 2px solid white;
}
input,select{
  margin-right: 1rem;
  vertical-align: middle;
  outline: none;
  border: 2px solid white;
  background: black;
  color: white;
}
#editor{
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 50vw;
  overflow: hidden;
  overflow-y: auto;
}
#editor div{
  color: white;
  padding: 1rem;
  border-bottom: 2px solid white;
}
*{
  user-select: none;
}
#logo{
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  width: auto;
  height: 24px;
  z-index: 100;
}

@media (max-aspect-ratio: 1/1){
  canvas{
    width: 100vw;
    height: 50vh;
    border: 0;
    border-bottom: 2px solid white;
  }
  #editor{
    width: 100vw;
    height: 50vh;
    top: 50vh;
    left: 0;
  }
}
